.modal-pizza__main {
  max-width: 292px;
  width: 100%;
  padding: 24px 16px 16px;
}

.modal-pizza__img {
  width: 180px;
  margin: 0 auto 12px;
}

.modal-pizza__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--dark);
  margin-bottom: 4px;
}

.modal-pizza__toppings {
  font-size: 14px;
  line-height: 1.4;
  color: var(--dark);
  margin-bottom: 4px;
}

.modal-pizza__info {
  display: flex;
  gap: 4px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--beige);
  margin-bottom: 20px;
}

.modal-pizza__price {
  color: var(--dark);
}

.modal-pizza__fieldset {
  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  gap: 7px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.modal-pizza__fieldset:last-child {
  margin-bottom: 0;
}

.modal-pizza__group-fieldset {
  margin-bottom: 20px;
}

.modal-pizza__radio {
  position: absolute;
  appearance: none;
}

.modal-pizza__label {
  flex-basis: 125px;
  text-align: center;
  display: block;
  background-color: transparent;
  border-radius: 32px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--beige);
  border: 1px solid transparent;
  cursor: pointer;
}

.modal-pizza__label:hover {
  color: var(--white);
  background-color: var(--beige);
}

.modal-pizza__radio:focus-visible + .modal-pizza__label {
  background-color: var(--orange);
  border-color: var(--orange-dark);
  color: var(--light);
}

.modal-pizza__radio:checked + .modal-pizza__label {
  background-color: var(--light);
  color: var(--orange);
}

.modal-pizza__radio:checked + .modal-pizza__label:hover {
  color: var(--orange);
  background-color: var(--beige);
}

.modal-pizza__add-cart {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--white);
  line-height: 1.4;
  padding: 8px 24px;
  background-color: var(--orange);
  border-radius: 32px;
}

.modal-pizza__add-cart:disabled {
  opacity: 0.6;
}

@media (width >= 620px) {
  .modal-pizza__main {
    max-width: 368px;
  }

  .modal-pizza__title {
    font-size: 24px;
  }

  .modal-pizza__toppings {
    font-size: 20px;
  }

  .modal-pizza__info {
    font-size: 20px;
    gap: 8px;
  }

  .modal-pizza__label {
    flex-basis: 155px;
    font-size: 16px;
  }

  .modal-pizza__add-cart {
    font-size: 20px;
  }
}
